@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                I will learn and add features to this website.
            </p>
        </div>
    </section>
}
<h3>Features of this Web Application:</h3>
<ol class="round">
    <li class="one">
        <h5>Web Services</h5>
        In this section I will use simple web services for a defined task.<br />
        @Html.ActionLink("Click Here","Index","WebServices") to have a look at it.
    </li>

    <li class="two">
        <h5>Demos</h5>
        Some demos.<br/>
        @Html.ActionLink("Click Here", "Index", "Demo") to have a look at it.
    </li>

    <li class="three">
        <h5>Something.</h5>
        Some description about this feature.
    </li>
</ol>
