@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page">
    <div id="header">
        <h1>Invitation To Party :P</h1>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
        &copy; iqan.in
    </div>
</div>
</body>
</html>
