@{
    ViewBag.Title = "Index";
}

<h2>Demo - Index</h2>

<ol class="round">
    <li class="one">
        <h5>Threading Demo - <i><font color="grey">unavailable</font></i></h5>
        In this section I will use simple Threading demo.<br/>
        @Html.ActionLink("Click Here", "Threading", "Demo") to have a look at it.
    </li>
    <li class="two">
        <h5>LINQ Demo</h5>
        In this section I will use simple LINQ demo.<br />
        @Html.ActionLink("Click Here", "LinqDemo", "Demo") to have a look at it.
    </li>
</ol>
